body{
	background: #fafafa;
margin:0;
}

.header{
	background: #1b39ab;
	height: 70px;
}

.wrapper{
	height:700px;
	width: 960px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.4);
	background: #fff;
	margin: 10px auto;
}
